<% include ./partials/header %>
<h1> Home page! </h1>

<li><a href = "/register">Sign UP</a> </li>
<li><a href = "/login">Log In</a> </li>
<li><a href = "/logout">Logout </a> </li>

<% include ./partials/footer %>